.container {
  display: flex;
  width: 100%;
}

.box {
  width: 30%;
  /* border: 1px solid red; */
  height: auto;
  margin: 15px;
  padding: 5px;
  font-size: 80%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #6aa1d0;
}

.box input,
textarea {
  width: 100%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 3px;
  margin-bottom: 10%;
}

* input {
  color: gray;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2.5px solid #3a6f9c;
  color: white;
}

.white {
  color: gray;
}

input {
  border-color: white;
}

::-webkit-input-placeholder {
  font-style: italic;
}
.box label {
  margin-top: 10px;
}

select {
  width: 104%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 3px;
  margin-bottom: 10%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://image.flaticon.com/icons/png/512/25/25756.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.2em top 50%, 0 0;
  background-size: 10px;
}
